/* Change to add be better styled */


#mapsuper {
  position: relative;
}

#map {
  height: 800px;
  width: 800px;
  margin: 5rem auto;
}

#sidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: lightblue;
  width: 300px;
  height: 600px;
  z-index: 999;
  display: none;
  border-radius: 10px;
}